<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <%= link_to 'Launch Lunch', root_path, class: 'navbar-brand' %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'All Restaurants', restaurants_path %></li>
    <li><%= link_to 'Add Restaurants', new_restaurant_path %></li>
  </ul>
</nav>
