<div class="jumbotron button-wrapper">
  <h1>Lunch App For Launch Academy</h1>
  <div class="container middle">
    <%= link_to "What should I eat?", random_dish_path, class: "btn btn-success btn-lg button" %>
  </div>
</div>
